/* Navbar.css */
.navbar-container {
    position: sticky;
    top: 0;
    z-index: 100;
    /* background: rgba(255, 255, 255, 0.8); */
    backdrop-filter: blur(10px);
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
    width: 100%;
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    position: relative;
}

.navbar-logo img {
    display: block;
}

.navbar-links {
    display: flex;
    gap: 3.5rem;
    list-style: none;
    font-family: 'Mullish', sans-serif;
    margin-right: 90px;
}

.navbar-links li a,
.logout-btn {
    font-size: 17px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar-links li a:hover,
.logout-btn:hover {
    color: #5b76f3; 
}

.logout-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background: black;
    margin: 4px 0;
    transition: all 0.3s ease-in-out;
}

.cross-icon {
    font-size: 2rem;
    font-weight: bold;
    color: black;
}

.login-btn, .logout-btn{
    background: #8F9DFF;
    box-shadow: 0 3px 17px #98a4ff;
    height: 45px;
    width: 120px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home{
    margin-top: 10px;
}

.services{
    margin-top: 10px;
}
.doctors{
    margin-top: 10px;
}
.appointment{
    margin-top: 10px;
}

@media (max-width: 1024px) {
    .navbar-links {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100%;
        background-color: white;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }

    .navbar-links.open {
        transform: translateX(0);
    }

    .menu-toggle {
        display: block;
    }

    .navbar {
        padding-right: 1rem;
    }

    .navbar-links li {
        margin: 1rem 0;
    }
}
