
.navbar-container {
    backdrop-filter: blur(10px);
     width: 100%;
     position: sticky;
     top: 0;
     z-index: 1000;
 }
 
 .navbar {
     max-width: 1200px;
     width: 100%;
     margin: 0 auto;
     padding: 0.75rem 1rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 
 .navbar-logo img {
     width: 70px;
     height: auto;
 }
 
 .navbar-links {
     list-style: none;
     display: none;
     flex-direction: column;
     position: fixed;
     top: 0;
     right: 0;
     height: 100vh;
     width: 100%;
     background: #fff;
     align-items: center;
     justify-content: center;
     transform: translateX(100%);
     transition: transform 0.9s ease-in-out;
     font-family: 'Mullish', sans-serif;
     padding: 0;
     margin: 0;
     
 }
 
 .navbar-links.open {
     display: flex;
     transform: translateX(0);
 }
 
 .navbar-links li {
     margin: 1.5rem 0;
 }
 
 .navbar-links li a,
 .logout-btn {
     font-size: 1.1rem;
     text-decoration: none;
     color: black;
     transition: color 0.3s ease;
     font-family: 'Mullish', sans-serif;
 }
 
 .logout-btn {
     background: #8F9DFF;
     box-shadow: 0 3px 17px #98a4ff;
     height: 45px;
     width: 120px;
     border-radius: 4px;
     border: none;
     cursor: pointer;
 }
 
 .logout-btn:hover,
 .navbar-links li a:hover {
     color: #5b76f3;
 }
 
 .login-btn {
     background: #8F9DFF;
     box-shadow: 0 3px 17px #98a4ff;
     height: 45px;
     width: 120px;
     border-radius: 4px;
     border: none;
     color: black;
     font-weight: 600;
     font-size: 1rem;
     cursor: pointer;
 }
 
 .menu-toggle {
     display: block;
     z-index: 1100;
 }
 
 .hamburger span {
     display: block;
     width: 25px;
     height: 3px;
     background: black;
     margin: 4px 0;
     transition: all 0.3s ease-in-out;
 }
 
 .cross-icon {
     font-size: 2.2rem;
     font-weight: bold;
     color: black;
 }
 
 @media (min-width: 1025px) {
     .navbar-links {
         display: flex;
         flex-direction: row;
         position: static;
         height: auto;
         width: auto;
         transform: none;
         background: none;
         gap: 3rem;
         margin-right: 40px;
     }
 
     .navbar-links li {
         margin: 0;
     }
 
     .menu-toggle {
         display: none;
     }
 }
 